.primary-default {
  padding: 8px 12px;
  border-radius: 4px;
  background: var(--color-pink);
  border: 1px solid var(--color-white);
}

.primary-default:hover {
  background: var(--color-white);
  color: var(--color-pink);
  border: 1px solid var(--color-pink);
}
